src/main/wsdl/PHStoreMessageConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PHStoreMessageDispatcherService" 
	targetNamespace="http://ws.yum.com/phmf/PHStoreMessageDispatcher" 
	xmlns:tns="http://ws.yum.com/phmf/PHStoreMessageDispatcher" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsp1="http://www.w3.org/ns/ws-policy" 
    xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" 
    xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
    xmlns:wsaw="http://www.w3.org/2005/08/addressing" 
    xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" 
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:sp1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
    <types>
		  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.yum.com/phmf/PHStoreMessageDispatcher">
				<xsd:element name="PHStoreMessage" type="tns:PHStoreMessage" />
				<xsd:element name="PHDispatchResponse" type="tns:PHDispatchResponse"/>
				
				<xsd:complexType name="PHDispatchResponse">
					<xsd:sequence>
						<xsd:element name="Status">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Success"/>
									<xsd:enumeration value="Error"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>

				<xsd:complexType name="PHStoreMessage">
					<xsd:sequence>
						<xsd:element name="Type" minOccurs="1" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="UpdateOutages"/>
									<xsd:enumeration value="UpdateOrderStatus"/>
									<xsd:enumeration value="UpdateUnitStatus"/>
									<xsd:enumeration value="AD"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Payload" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
				
		  </xsd:schema>
    </types>
	<wsdl:message name="dispatchMessageInput">
		  <wsdl:part name="body" element="tns:PHStoreMessage"/>
	</wsdl:message>
	
	<wsdl:message name="dispatchResponse">
		  <wsdl:part name="body" element="tns:PHDispatchResponse"/>
	</wsdl:message>

   <wsdl:portType name="PHStoreMessageDispatcher">
   
		 <wsdl:operation name="dispatchMessage">
			 <wsdl:input name="messageInput" message="tns:dispatchMessageInput"/>
			 <wsdl:output name="messageOutput" message="tns:dispatchResponse"/>
		  </wsdl:operation>
		  
   </wsdl:portType>

   <wsdl:binding name="PHStoreMessageDispatcherPortBinding" type="tns:PHStoreMessageDispatcher">
			  <wsp1:PolicyReference URI="#PHStoreMessageDispatcherSecurityPolicy"/> 
			  <soap:binding style="document" 
								   transport="http://schemas.xmlsoap.org/soap/http"/>
			  <wsdl:operation name="dispatchMessage">
					 <soap:operation soapAction="http://ws.yum.com/phmf/PHStoreMessageDispatcher/dispatchMessage"/>		
					 <wsdl:input name="messageInput">
							<soap:body use="literal"/>
					 </wsdl:input>
					 <wsdl:output name="messageOutput">
							<soap:body use="literal"/>
					 </wsdl:output>
			  </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="PHStoreMessageDispatcherService">
		  <wsdl:port name="PHStoreMessageDispatcherPort" 
						  binding="tns:PHStoreMessageDispatcherPortBinding">
				 <soap:address location="https://localhost:${HttpsDefaultPort}/PHDeepDish/phmf/restaurant/dispatcher"/>
		  </wsdl:port>
   </wsdl:service>

    <wsp:Policy wsu:Id="PHStoreMessageDispatcherSecurityPolicy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens
            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken=".../IncludeToken/AlwaysToRecipient"/>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

</definitions>


